﻿@model VenosheBot.Areas.v1.Models.UserInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserInfo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TelegramId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelegramId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelegramUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelegramUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TodayePurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TodayePurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
